* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Rubik;
}

@font-face {
    font-family: Rubik;
    src: url(https://fonts.google.com/specimen/Rubik);
}

:root {
    /*a*/
    --a: hsl(228, 45%, 44%);
    /* Primary */
    --blue: hsl(246, 80%, 60%);
    --light-red /* work*/: hsl(15, 100%, 70%);
    --soft-blue /*play*/: hsl(195, 74%, 62%);
    --light-redd /*study*/: hsl(348, 100%, 68%);
    --lime-green /*exercise*/: hsl(145, 58%, 55%);
    --violet /*social*/: hsl(264, 64%, 52%);
    --soft-orange /*self care*/: hsl(43, 84%, 65%);
    --white: rgb(233, 233, 233);
    /* Neutral */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-blue);
}

.profile {
    display: flex;
    background-color: var(--blue);
    border-radius: 10%;
    margin: 10vh 5vw 0vh 5vw;
    height: 20vh;
    z-index: 100;
}

.profile > img {
    align-self: center;
    padding-left: 5vh;
    width: 25vw;
    height: 10vh;
}

.profile > h1 {
    color: var(--white);
    font-weight: 500;
}

.profile > h2 {
    font-weight: 300;
    color: var(--pale-blue);
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: var(--dark-blue);
    border-radius: 0% 0% 10% 10%;
    margin: -2.5vh 5vw 0vh 5vw;
    text-align: center;
    height: 10vh;
    z-index: 10;
}

nav > button {
    background-color: var(--dark-blue);
    color: var(--a);
    margin-bottom: 2vh;
    font-size: 18px;
}

.work {
    height: 20vh;
    background-color: var(--dark-blue);
    margin: 0vh 5vw 0vh 5vw;
    border-radius: 10%;
    z-index: 100;
}

.report {
    color: var(--pale-blue);
    display: block;
}

.top-work {
    display: flex;
    background-color: var(--light-red);
    height: 7.5vh;
    margin: 2.5vh 5vw -2.5vh 5vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 10;
}

.play {
    height: 20vh;
    background-color: var(--dark-blue);
    margin: 0vh 5vw 0vh 5vw;
    border-radius: 10%;
    z-index: 100;
}

.top-play {
    display: flex;
    background-color: var(--soft-blue);
    height: 7.5vh;
    margin: 2.5vh 5vw -2.5vh 5vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 10;
}


.study {
    height: 20vh;
    background-color: var(--dark-blue);
    margin: 0vh 5vw 0vh 5vw;
    border-radius: 10%;
    z-index: 100;
}

.top-study {
    display: flex;
    background-color: var(--light-redd);
    height: 7.5vh;
    margin: 2.5vh 5vw -2.5vh 5vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 10;
}


.exercise {
    height: 20vh;
    background-color: var(--dark-blue);
    margin: 0vh 5vw 0vh 5vw;
    border-radius: 10%;
    z-index: 100;
}

.top-exercise {
    display: flex;
    background-color: var(--lime-green);
    height: 7.5vh;
    margin: 2.5vh 5vw -2.5vh 5vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 10;
}

.social {
    height: 20vh;
    background-color: var(--dark-blue);
    margin: 0vh 5vw 0vh 5vw;
    border-radius: 10%;
    z-index: 100;
}

.top-social {
    display: flex;
    background-color: var(--violet);
    height: 7.5vh;
    margin: 2.5vh 5vw -2.5vh 5vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 10;
}

.self-care {
    height: 20vh;
    background-color: var(--dark-blue);
    margin: 0vh 5vw 10vh 5vw;
    border-radius: 10%;
    z-index: 100;
}

.top-self-care {
    display: flex;
    background-color: var(--soft-orange);
    height: 7.5vh;
    margin: 2.5vh 5vw -2.5vh 5vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 10;
}

.section-title {
    color: var(--white);
}