* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Rubik;
}

@font-face {
    font-family: Rubik;
    src: url(https://fonts.google.com/specimen/Rubik);
}

:root {
    /*a*/
    --a: hsl(228, 45%, 44%);
    /* Primary */
    --blue: hsl(246, 80%, 60%);
    --light-red /* work*/: hsl(15, 100%, 70%);
    --soft-blue /*play*/: hsl(195, 74%, 62%);
    --light-redd /*study*/: hsl(348, 100%, 68%);
    --lime-green /*exercise*/: hsl(145, 58%, 55%);
    --violet /*social*/: hsl(264, 64%, 52%);
    --soft-orange /*self care*/: hsl(43, 84%, 65%);
    --white: rgb(233, 233, 233);
    /* Neutral */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

.page {
    display: grid;
    background-color: var(--very-dark-blue);
    grid-template-columns: 24vw 24vw 24vw 24vw; 
    grid-template-rows: 40vh 40vh 18vh; 
    gap: 1vh 1vw;
    grid-template-areas: 
    "profile1 work play study"
    "profile2 exercise social care"
    "footer footer footer footer";
}

.none {
    display: none;
}

.activate {
    color: #ffffff;
}

.profile {
    grid-area: profile1;
    background-color: var(--blue);
    border-radius: 10%;
    margin: 10vh 0vw 0vh 8vw;
    height: 40vh;
    width: 30vw;
    z-index: 100;
}

.profile > img {
    align-self: center;
    padding-left: 10vh;
    padding-top: 1vw;
    width: 5vw;
    height: 10vh;
    border: var(--white);
}

.profile > h1 {
    padding-left: 1vw;
    color: var(--white);
    font-weight: 500;
}

.profile > h2 {
    padding-left: 1vw;
    font-weight: 300;
    color: var(--pale-blue);
}

nav {
    grid-area: profile2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--dark-blue);
    border-radius: 0% 0% 20% 20%;
    margin: 0vh 0vw 0vh 8vw;
    text-align: left;
    height: 20vh;
    width: 30vw;
    z-index: 10;
}

nav > button {
    background-color: var(--dark-blue);
    color: var(--a);
    padding: 2vh 0vw 0vh 2vw;
    margin-bottom: 0vh;
    font-size: 18px;
    gap: 0.5vw
}

.report {
    color: var(--pale-blue);
    display: block;
}

.work {
    grid-area: work;
    height: 20vh;
    background-color: var(--dark-blue);
    color: white;
    margin: -2.5vh 0vw 0vh 0vw;
    border-radius: 10%;
    z-index: 3;
    position: relative; 
}

.top-work {
    grid-area: work;
    display: flex;
    background-color: var(--light-red);
    height: 7.5vh;
    margin: 5vh 0vw 0vh 0vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 1;
    position: relative; 

}

.play {
    grid-area: play;
    height: 20vh;
    background-color: var(--dark-blue);
    color: var(--white);
    margin: -2.5vh 0vw 0vh 0vw;
    border-radius: 10%;
    z-index: 3;
    position: relative; 
}

.top-play {
    grid-area: play;
    display: flex;
    background-color: var(--soft-blue);
    height: 7.5vh;
    margin: 5vh 0vw 0vh 0vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 1;
    position: relative; 
}



.study {
    grid-area: study;
    height: 20vh;
    background-color: var(--dark-blue);
    color: var(--white);
    margin: -2.5vh 0vw 0vh 0vw;
    border-radius: 10%;
    z-index: 3;
    position: relative; 
}

.top-study {
    grid-area: study;
    display: flex;
    background-color: var(--light-redd);
    height: 7.5vh;
    margin: 5vh 0vw 0vh 0vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 1;
    position: relative;
}


.exercise {
    grid-area: exercise;
    height: 20vh;
    background-color: var(--dark-blue);
    color: var(--white);
    margin: -2.5vh 0vw 0vh 0vw;
    border-radius: 10%;
    z-index: 3;
    position: relative;

}

.top-exercise {
    grid-area: exercise;
    display: flex;
    background-color: var(--lime-green);
    height: 7.5vh;
    margin: 0vh 0vw 0vh 0vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 1;
    position: relative;
}

.social {
    grid-area: social;
    height: 20vh;
    background-color: var(--dark-blue);
    color: var(--white);
    margin: -2.5vh 0vw 0vh 0vw;
    border-radius: 10%;
    z-index: 3;
    position: relative;
}

.top-social {
    grid-area: social;
    display: flex;
    background-color: var(--violet);
    height: 7.5vh;
    margin: 0vh 0vw 0vh 0vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 1;
    position: relative;
}

.self-care {
    grid-area: care;
    height: 20vh;
    background-color: var(--dark-blue);
    color: var(--white);
    margin: -2.5vh 0vw 0vh 0vw;
    border-radius: 10%;
    z-index: 3;
    position: relative;
}

.top-self-care {
    grid-area: care;
    display: flex;
    background-color: var(--soft-orange);
    height: 7.5vh;
    margin: 0vh 0vw 0vh 0vw;
    border-radius: 10% 10% 0% 0%;
    justify-content: end;
    z-index: 1;
    position: relative;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    color: var(--white);
    padding: 2.5vh 0vw 0vh 1vw;
}

.hours-mounthly-prev, .hours-weekly-prev, .hours-daily-prev {
    color: var(--pale-blue);
    margin-left: 1vw;
}

.hours-daily, .hours-weekly, .hours-monthly {
    font-size: 5vh;
    margin-left: 1.5vw;
}
